MYSQL_ROOT_PASSWORD=change_me_now
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal
MYSQL_HOST=mysql
MYSQL_PORT=3306

CONFIG_SYNC_DIRECTORY='../etc/config-sync'
HASH_SALT='abcde-change-me-plaese-12345'
TRUSTED_HOST_PATTERNS='["^norwichrugby\\.org$","^.+\\.norwichrugby\\.com$","^localhost(:[0-9]+)?$","^drupal$"]'
STATE_CACHE='TRUE'
