MYSQL_ROOT_PASSWORD=change_me_now
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal

CONFIG_SYNC_DIRECTORY='../etc/config-sync'
HASH_SALT='abcde-change-me-plaese-12345'
TRUSTED_HOST_PATTERNS="['^norwichrugby\.org$','^.+\.norwichrugby\.com$']"
STATE_CACHE='TRUE'

#$databases['default']['default'] = array (
#  'database' => 'drupal',
#  'username' => 'drupal_database_user',
#  'password' => 'drupal_database_password',
#  'prefix' => '',
#  'host' => '127.0.0.1',
#  'port' => '3306',
